.toolbar {
  /* background: #1f1f1f; */
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  gap: 2px;
}

#run,
#stop {
  display: inline-flex;
  gap: 0.35em;
}

#connect,
#disconnect {
  margin-right: auto;
}

#toggle-logs {
  margin-right: auto;
}

/* Editor */
section {
  flex: 1 1 auto;
}

#output {
  flex: 0 1 auto;
  min-height: 300px;
  background: #2a2a2a;
  max-height: 50vh;
  overflow: auto;
  font-size: 14px;
  line-height: 18px;
  font-family: "Fira Code", "Consolas", "Lucida Console", monospace;
  padding: 0.5rem;
  white-space: pre-wrap;
}

.badge {
  --size: 12px;
  position: absolute;
  right: calc(0px - var(--size) / 3);
  top: calc(0px - var(--size) / 3);
  box-sizing: border-box;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  background-color: red;
}